.border{
  font-size: 1em;
  background:rgb(0,199,78)
}

.title{
  float:left
}

h1{
  color:rgb(34,103,245);
  background-color: hsl(160, 66%, 60%);
  font: bold 11px Arial;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(160, 66%, 60%);
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

/* MAIN STYLES - Yield Block */

main {
  padding: 1rem;
  clear: both;
}

/* Lists */

main ul { margin: 0 auto 1rem; }

main ul li {
  list-style: none;
  margin: 0.5rem 0 1rem;
  font-size: 1.25rem;
}


header { padding: 1rem; }

header h1 {
  font-size: 3rem;
  float: left;
}

header nav { float: right; }

header nav ul { list-style: none; }

header nav li {
  display: inline-block;
  padding-left: 1rem;
}

header nav li:first-child { border-left: 0;}

header nav input[type="submit"] {
  overflow: visible;
  text-align: center;
  font-weight: bold;
  width: auto;
  border: none;
}