<h2>Edit Team</h2>
<form method="post" action="/teams/<%=@team.id%>">
  <input type="hidden" name="_method" id="hidden" value="patch">
  <label>Team Name:</label><input type="text" name="name" value="<%=@team.name%>">
  <input type="submit" value="Save">

</form>