<h1>Create your <%=@formation.name%> formation</h1>
<form method="post" action="/formation/<%=@formation.id%>">

  <% @formation.positions.each do |position| %>
  <input type="text" name="positions[]" value="<%= position.name %>"> <br>
  <%end%>


  <input type="submit" value="save">

</form>