require 'pry'
<h1>Edit your <%=@formation.name%> formation</h1>
<form method="post" action="/formation/<%=@formation.id%>">
<%binding.pry%>
  <% @formation.positions.each do |position| %>
  <label><%= position.name%>: </label><input type="text" name="positions[]" value="<%= position.player.name%>"> <br></br>
  <%end%>


  <input type="submit" value="save">

</form>