<h1>Choose your formation</h1>
<form action="/formation" method="post">
  <input type="radio" name="formation" value="4-4-2">4-4-2 </input> <br></br>
  <input type="radio" name="formation" value="4-3-3">4-3-3 </input><br></br>
  <input type="submit" value="submit">
</form>

