<h2><%=@formation.name%> formation</h2>


  <% @formation.positions.each do |position| %>
      <h4><%= position.name%>: <%= position.player.name%> </h4>
  <%end%>

<a href="/formation/<%=@formation.id%>/edit">Edit Formation</a>
