<h2>Oops! It looks like your log in attempt has failed.</h2>
<h3>Try logging in again:</h3>
<form method="post" action="/login">
  <label>Team Name: </label><input type="text" name="name">
  <br></br>
  <label>Password: </label><input type="password" name="password">
  <br></br>
  <input type="submit" value="Log In">

</form>
<h4>Or <a href="/signup">Sign Up</a> </h4>