<!DOCTYPE html>
<html>
<head>
  <title>Soccer Team Creator</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 class="header">Soccer Lineup Pro</h1>
    <nav>
      <ul>
        <li><a class="button" href="/">Home</a></li>
        <% if @current_team.nil?%>
        <li><a class="button" href="/login">Log In</a></li>
        <% else%>
        <li><a class="button" href="/logout">Log Out</a></li>
        <li><a class="button" href="/teams/<%= @current_team.id %>">Team Page</a></li>
        <% end %>
        <% if @current_team.formation.nil? %>
        <li><a class="button" href="/formation/new">New Formation</a></li>
        <% else %>
        <li><a class="button" href="/formation/<%=@current_team.formation.id%>">View Formation</a></li>
        <% end %>
        <li><a class="button" href="/player/new">New Player</a></li>
      </ul>
    </nav>

<main>
  <%= yield %>
</main>

</body>
</html>