<!DOCTYPE html>
<html>
<head>
  <title>Soccer Team Creator</title>
</head>
<body>
  <% if @current_team.nil?%>
  <a href="/login">Log In</a>
  <% else%>
  <h1><%=@current_team.name%></h1>
  <a href="/logout">Log Out</a>
  <% end %>

<%= yield %>

</body>
</html>