<h2>Log In Below:</h2>
<form method="post" action="/login">
  <label>Team Name: </label><input type="text" name="name">
  <br></br>
  <label>Password: </label><input type="password" name="password">
  <br></br>
  <input type="submit" value="Log In">

</form>


<p>Or <a href="/signup">Sign Up</a> to create an account.</p>
